# Sample of git config file
#https://gist.github.com/pksunkara/988716

[core]
  quotepath = false
  # The defualt value of `autocrlf` is false, means not auto convert eol.
  # But almost all developers are using M$ in yonyou.com.
  # Make sure CRLF is using under working directory.
  # Change default config per project.
  # $ git clone --config core.autocrlf=true --branch develop git@git.yonyou.com:sscplatform/ssc_webcomp.git
  #autocrlf = false
  editor = vim

[user]
  email = d3vin.chen@gmail.com
  name = Devin Chen

[push]
  default = simple

# Replace default diff tool with meld
# ~/bin/diff.py
[diff]
  external = diff.py

[alias]
  meld = !/home/chenyang/env/vendor/git-meld/git-meld.pl
  co = checkout
  ci = commit
  br = branch
  lgb = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches

# Proxy for git clone with HTTPS
# https://gist.github.com/laispace/666dd7b27e9116faece6
[http]
  # socks proxy
  proxy = socks5://127.0.0.1:1080
  # http/https proxy
  #proxy = http://127.0.0.1:8080
[https]
  proxy = socks5://127.0.0.1:1080
  #proxy = https://127.0.0.1:8080

# Proxy for git clone with SSH
# https://xxd3vin.github.io/git#proxy
# use socat, edit `~/.ssh/config`
