# testing
* *    * * *   date > /tmp/xx_timestamps.txt
# check uncommit git changes
0 *    * * *   /home/chenyang/bin/check-git.sh
# check uncommit git changes
* *    * * *   /home/chenyang/bin/check-xuanran001.sh
# reboot router
0 *    * * *   /home/chenyang/bin/rebootrouter.sh
