"*":
  core:
    disabledPackages: [
      "minimap-highlight-selected"
    ]
    excludeVcsIgnoredPaths: true
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "node_modules"
      "dist"
      "coverage"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    invisibles: {}
    showInvisibles: true
    tabType: "soft"
  "git-plus":
    general:
      _analyticsUserId: "bbd84402-e988-42f8-a045-70256a54d351"
  "linter-eslint":
    fixOnSave: true
  "linter-ui-default":
    showPanel: true
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: false
